<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a303.teachlink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Loging">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeacherMain" />
        <activity android:name=".StudentMain" />
        <activity android:name=".TeacherRollcall" />
        <activity android:name=".TeacherQuestion" />
        <activity android:name=".TeacherPush" />
        <activity android:name=".TeacherDiscuss" />
        <activity android:name=".TeacherAnalyze" />
        <activity android:name=".TeacherHistory" />
        <activity android:name=".StudentAnalyze" />
        <activity android:name=".StudentDiscuss" />
        <activity android:name=".StudentHistory" />
        <activity android:name=".StudentRollcall" />
        <activity android:name=".StudentQuestion" />
        <activity android:name=".ScanQR"></activity>
    </application>

</manifest>